Options +FollowSymLinks -MultiViews
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^index/((page))/([^_]+)/$ index.php?event_type=$1&page_number=$3 [QSA]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^_]+)/([^_]+)/([^_]+)/([^_]+)/$ $1_$2_$3_$4.php 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^_]+)/([^_]+)/([^_]+)/$ $1_$2_$3.php 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^_]+)/([^_]+)/$ $1_$2.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^_]+)/$ $1.php

RewriteCond %{THE_REQUEST} \ /+([^\?\ ]+)\.php [NC]
RewriteRule ^ /%1/ [L,R=302]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{HTTP_HOST} localhost
RewriteCond %{THE_REQUEST} !([^_]+)/$
RewriteRule ^([^_]+)$ https://%{HTTP_HOST}/eshop-sablona/$1/ [L,R=302]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{HTTP_HOST} !=localhost
RewriteCond %{THE_REQUEST} !([^_]+)/$
RewriteRule ^([^_]+)$ https://%{HTTP_HOST}/demo/$1/ [L,R=302]

